.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
}

.card {
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}